<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form class="" action="/posts" method="get">
      <b>To get "post" and show it in a view</b>
      <button type="submit" name="button">Posts</button>
    </form>
    <form class="" action="/comments" method="get">
      <b>To get "comments" and show it in a view</b>
      <button type="submit" name="button">Comments</button>
    </form>
    <form class="" action="/products" method="get">
      <b>To get "products" and show it in a view</b>
      <button type="submit" name="button">products</button>
    </form>
    <form class="" action="/profile" method="get">
      <b>To get "profile" and change the title in this view </b>
      <button type="submit" name="button">profile</button>
    </form>
    <form class="" action="/db" method="get">
      <b>To get al db and show it as json</b>
      <button type="submit" name="button">db</button>
    </form>
  </body>
</html>
