<h1>
  <%=title%>
</h1>
<form class="" action="./new" method="post">
  <label for="id">Id</label><br>
  <input type="text" name="id" value=""><br>
  <br>
  <label for="body">Body</label><br>
  <input type="text" name="body" value=""><br>
  <br>
  <label for="postId">postId</label><br>
  <input type="text" name="postId" value=""><br>
  <br>
  <button type="submit" name="">send  </button>
  <pre>
    Important: Changes aren't persisted between calls in the fake API.
        Yo must look at console:
        If success, console write the comment,
          and you are redirected to a view.
        If error, console write it,
          and you are redirected to a view "error".
   </pre>
</form>
<a href="/">Return</a>
